/* RESET CSS */
* { outline: 0; margin: 0; padding: 0; border: 0; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
    margin: 0;
    padding: 0;
}
ul, li, ol {
	list-style:none;
	list-style-type:none;
    margin:0;
}
img, fieldset {
    border: 0;
}
img {
    max-width: 100%;
    height: auto;
    /*width: auto\9; /* ie8 */
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
    margin: 0;
}